body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main__wrap {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 50px 0px;
  justify-content: center;
}

.card__box {
  padding: 50px 10px;
  border: 10px solid #7fd8e6;
  border-radius: 12px;
  background-color: #ddf2f5;
}
.row {
  justify-content: center !important;
}
.navbar {
  justify-content: center !important;
  background: transparent !important;
}
.btn {
  cursor: pointer !important;
}
.badge {
  width: 70px !important;
}
.greeting {
  margin: auto;
  justify-self: center;
  font-weight: 600;
  font-size: 1.2rem;
}
#login-button {
  margin: auto;
  justify-self: center;
  font-weight: 600;
  display: block;
}
/* TODO #1: experiment with using media queries! Try this one out */
@media (max-height: 500px) {
  body {
    background-color: #6b1bac;
  }
}

/* TODO #1: add a media query here for dark mode */
/* We recommend adding css to the body and 
  .card__box elements within the media query */
